<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZScoreDeviation.OutlierThreshHold" value="3.5" />
    <add key="ZScoreDeviation.TraingSetSize" value="50" />
    <add key="OutlierSpotter.BufferSize" value="20" />
    <add key="inputFileName" value=".\Working\Data_in.csv" />
    <add key="outputFileName" value=".\Working\Data_out.csv" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>